section {
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 500px;
    height: 500px;
}

section > div {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.square, .circle {
    height: 90%;
    width: 17%;
    border: 2px solid #d3a19d;
}

.circle {
    border-radius: 50px;
}
