section {
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 550px;
    height: 550px;
}

section > div {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.square, .circle {
    height: 80%;
    width: 15%;
    border: 2px solid #d3a19d;
}

.circle {
    border-radius: 50px;
}

.rotate {
    transform-origin: center center;
    transform: rotate(45deg);
}

.full {
    background-color: #d3a19d;
}
